<%= turbo_frame_tag "new_comment_form" do %>
  <%= form_with(model: [article, comment], local: true, id: 'new_comment_form_#{article.slug}') do |form| %>
    <% if form.object.errors.any? %>
      <div id="error_explanation", class="justify-center flex">
        <ul>
          <% form.object.errors.full_messages.each do |message| %>
            <% message = message.sub("Content ", "").sub("Username ", "") %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% unless user_signed_in? %>
      <%= form.label :username, "Autor:" %>
      <div class="field">
        <%= form.text_field :username, value: form.object.username, class: 'rounded bg-transparent', autocomplete: "off", id: 'comment_username' %>
      </div>
    <% end %>
    <div class="field">
      <%= form.label "comment_content", "Treść komentarza:" %>
      <%= form.rich_text_area :content, id: 'comment_content' %>
    </div>
    <div class="actions justify-end flex mr-10 mt-2">
      <%= button_tag(type: 'submit', class: 'svg-button-comment') do %>
      <% end %>
    </div>
  <% end %>
<% end %>


