<%= link_to article_path(article), id: dom_id(article), class: "block transition duration-300 hover:opacity-90 relative" do %>
  <div class="max-w-full mx-auto sm:max-w-80 sm:max-h-96">
    <div class="flex flex-col h-full justify-between mx-auto sm:max-w-none">
      <div>
        <div class="my-2 h-56 overflow-hidden">
          <% if article.article_image.attached? %>
            <%= image_tag article.article_image, alt: 'Artykuł', class: "rounded w-full h-full object-cover" %>
          <% else %>
            <%= image_tag 'bull.png', alt: 'Artykuł', class: "rounded w-full h-full object-cover" %>
          <% end %>
        </div>

        <p class="my-3 text-lg text-slate-300">
          <strong><%= article.title %></strong>
        </p>

        <p>
          <%= truncate(article.content.to_plain_text, length: 100) %> 
        </p>
      </div>

      <p class="text-sm text-slate-400 mt-auto text-right">
        <strong><%= article.created_at.strftime('%d-%m-%Y') %></strong>
      </p>
    </div>
  </div>
<% end %>
