<%= form_with(model: article, class: "contents") do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.text_area :content, id: "editor", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full tinymce" %>
  </div>

  <div class="field">
    <%= form.label :article_image %>
    <%= form.file_field :article_image %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>

<script src="https://cdn.tiny.cloud/1/xr3x9r2ci84g2x4gghhrvhped41gpio4xyn4e07rf1gtprj3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
   document.addEventListener("DOMContentLoaded", function() {
      tinymce.init({
        selector: '#editor',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
        height: 500
      });
   });
</script>