<div class="max-2w-xl mx-auto overflow-hidden">
  <article class="flex flex-col justify-between">
    <header>
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <p class="my-2">
        <% if @article.article_image.attached? %>
          <%= image_tag @article.resized_article_image, alt: 'Artykuł', class: "rounded w-full" %>
        <% else %>
          <%= image_tag 'article_image.jpg', alt: 'Artykuł', class: "rounded w-full" %>
        <% end %>
      </p>
      <p class="text-sm text-slate-400 text-right  mr-4">
        <strong><%= @article.created_at.strftime('%d-%m-%Y') %></strong>
      </p>
      <div class="text-sm text-slate-400 text-right mr-4">
        Wyświetlenia: <%= @article.views_count %>
      </div>
      <div class="article-content my-6 ">
        <%= raw @article.content %>
      </div>
    </header>
    <div class="mt-6 mr-6">
      <%= render 'shared/like_button' %>
    </div>
  </article>
</div>
<section class='mt-10 mb-20'>
  <%= render 'comments/form', article: @article, comment: Comment.new %>
</section>
<h3 class="my-4 flex justify-between items-center">
  <span class="text-lg">Komentarze:</span>
  <div class="flex items-center mr-4">
    <span class="ml-4 text-sm text-slate-400">Sortuj wg:</span>
    <%= link_to article_path(@article, sort: 'newest'), data: { turbo_frame: 'comments' }, class: "ml-2 flex items-center text-blue-500" do %>
      <span class="ml-1 sort-icon-newest <%='active' if session[:comment_sort_order] == 'newest' %>"></span>
    <% end %>
    <%= link_to article_path(@article, sort: 'oldest'), data: { turbo_frame: 'comments' }, class: "ml-4 flex items-center text-blue-500" do %>
      <span class="ml-1 sort-icon-oldest <%='active' if session[:comment_sort_order] == 'oldest' %>"></span>
    <% end %>
  </div>
</h3>
<%= turbo_frame_tag 'comments' do %>
  <section aria-labelledby="comments-heading" id="comments" class="mt-4">
    <% if @article.comments.any? %>
      <%= render @comments %>
    <% else %>
      <p id="no-comment-info" class="text-center text-gray-500">Brak komentarzy. Bądź pierwszy.</p>
    <% end %>
  </section>
<% end %>