<div class="max-w-4xl mx-auto overflow-hidden">
  <article class="flex flex-col justify-between">
    <header>
      <% if notice.present? %>
        <p class="py-2 px-3 bg-lime-50 mb-5 text-lime-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>
      <p class="my-2">
        <% if @article.article_image.attached? %>
          <%= link_to url_for(@article.article_image), data: { lightbox: 'article-images', title: @article.title } do %>
            <%= image_tag @article.resized_article_image, alt: @article.title, class: "rounded w-full" %>
          <% end %>
        <% else %>
          <%= link_to image_path('article_image.jpg'), data: { lightbox: 'article-images', title: @article.title } do %>
            <%= image_tag 'article_image.jpg', alt: @article.title, class: "rounded w-full" %>
          <% end %>
        <% end %>
      </p>
      <p class="text-sm text-slate-400 text-right  mr-4">
        <strong><%= @article.created_at.strftime('%d-%m-%Y') %></strong>
      </p>
      <div class="text-sm text-slate-400 text-right mr-4">
        Wyświetlenia: <%= @article.views_count %>
      </div>
      <div data-controller="quill-content lightbox" data-quill-content-content="<%= @article.content %>" class="article-content my-6">
      </div>
    </header>
    <div class="mt-6 mr-6">
      <%= render 'shared/like_button' %>
    </div>
  </article>
  <section class='mt-10 mb-20'>
    <%= render 'comments/form', article: @article, comment: Comment.new %>
  </section>
  <%= turbo_frame_tag 'comments' do %>
    <%= render 'articles/sort_controls', article: @article %>
    <%= render 'articles/comments_list', comments: @comments %>
  <% end %>
</div>
