  <div class="max-2w-xl mx-auto overflow-hidden">
      <div class="flex flex-col justify-between"> 
        <div>

          
          <p class="my-2">
                    <% if @article.article_image.attached? %>
              <%= image_tag @article.resized_article_image, alt: 'Artykuł', class: "rounded w-full" %>
            <% else %>
              <%= image_tag 'article_image.jpg', alt: 'Artykuł', class: "rounded w-full" %>
            <% end %>
          </p>
          

          <p class="text-sm text-slate-400 text-right  mr-4">
            <strong><%= @article.created_at.strftime('%d-%m-%Y') %></strong>
          </p>
          
          <div class="text-sm text-slate-400 text-right mr-4">
             Wyświetlenia: <%= @article.views_count %>
          </div>

        

          <div class=" article-content my-6 ">
            <%= @article.content %> 
          </div>

          
        </div>
        <%= render 'shared/like_button' %>
      </div>
    </div>
