<div class="flex min-h-full flex-col justify-center px-6 py-2 lg:px-8">
  <div class="flex justify-between items-center">
    <%= link_to '#', class: "close-modal-trigger animate-bounce" do %>
      <%= render "shared/logos_svg/x_button" %>
    <% end %>
    <h2 class="text-2xl font-bold leading-9 tracking-tight text-gray-900">Zaloguj się</h2>
  </div>

  <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
      <div>
        <%= f.label :email, class: "block font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-zinc-300" %>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <%= f.label :password, class: "block font-medium leading-6 text-gray-900" %>
          <div class="text-sm">
            <%= link_to 'Forgot your password?', new_password_path(resource_name), class: "font-semibold text-gray-400 hover:text-gray-500" %>
          </div>
        </div>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "current-password", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 bg-zinc-300" %>
        </div>
      </div>

      <div>
        <%= f.submit "Log in", class: "flex w-full justify-center rounded-md bg-yellow-500 mt-2  px-3 py-1.5 text-sm font-semibold leading-6 text-black shadow-sm hover:bg-yellow-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>

    <p class="mt-2 text-center text-sm text-stone-800">
      Don't have an account? 
      <%= link_to "Sign up", new_registration_path(resource_name), class: "font-semibold leading-6 text-gray-400 hover:text-gray-950" %>
    </p>
  </div>
</div>
