<!DOCTYPE html>
<html>
  <head>
    <title>InvesTB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/top-bar/top-bar'%>

    <main id="main-content" class="container mx-auto mt-8 px-3  max-w-2xl" data-turbo-frame="main-frame">
      <%= yield %>
      
    </main>
  </body>
</html>
