<!DOCTYPE html>
<html>
  <head>
    <title>InvesTB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Analiza sytuacji na giełdzie, akcje, surowce, strach i chciwość, strategie, własne przemyślenia. Kupuj tanio, sprzedawaj drogo.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta name="turbo-cache-control" content="no-cache">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/top-bar/top-bar' %>
    <div id="flash" class="flash">
      <%= render "shared/flash_messages" %>
    </div>
    <main class="container mx-auto mt-8 px-3 max-w-6xl mb-16 opacity">
      <%= yield %>
    </main>
  </body>
</html>