<!DOCTYPE html>
<html>
  <head>
    <title>InvesTB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Analiza sytuacji na giełdzie, akcje, surowce, strach i chciwość, strategie, własne przemyślenia. Kupuj tanio, sprzedawaj drogo.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/top-bar/top-bar' %>
    <%= render 'shared/flash_messages' %>
    <div id="flash" class="flash">
      <%= render "shared/flash_messages" %>
    </div>
    <main class="container mx-auto mt-8 px-3 max-w-6xl mb-16 opacity">
      <%= yield %>
    </main>
  </body>
</html>
