<!DOCTYPE html>
<html>
  <head>
    <title>InvesTB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Analiza sytuacji na giełdzie, akcje, surowce, strach i chciwość, strategie, własne przemyślenia. Kupuj tanio, sprzedawaj drogo.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/top-bar/top-bar'%>
    <%= render 'shared/flash_messages' %>
    <div id="flash" class="flash">
      <%= render "shared/flash_messages" %>
    </div>
    <main class="container mx-auto mt-8 px-3 max-w-4xl mb-16">
      <%= yield %>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  </body>
</html>