<!DOCTYPE html>
<html>
  <head>
    <title>InvesTB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "menu_button", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="top-bar">
      <h1 class=" max-w-5xl font-bold text-4xl max-w-[800px] mx-auto w-full" style="color: #848E9C;"><%= "" %></h1>
    </div>
    <main class="container mx-auto mt-28 px-5 flex max-w-5xl">
      <%= yield %>
    </main>
  </body>
</html>
